body {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    background-image: url(img/mario-bg.jpg);
    background-size: cover;
    text-align: center;
}

/* .main-content {
    display: flex;
    border: 2px solid red;
    justify-content: center;
} */

h1, h2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: slateblue;
}

.board-position {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#board {
    width: 540px;
    height: 540px;
    background-image: url(img/soil.png);
    background-size: cover;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    /* position: absolute; */
}

#board > div {
    background-image: url(img/pipe.png);
    background-size: cover;
}

.mole {
    width: 110px;
    height: 110px;
    background-image: url(img/monty-mole.png);
    background-size: 100%;
    position: relative;
    left: 35px;
}

.plant {
    width: 110px;
    height: 110px;
    background-image: url(img/piranha-plant.png);
    background-size: 100%;
    position: relative;
    left: 35px;
}

.gameover {
    width: auto;
    background-color: whitesmoke;
    height: 100vh;
    position: relative;
    top: 0px;
    visibility: hidden;
}